---
layout: default
title: News
sub_title: Some sub-title here if you want
header_class: header-sub-page
---

<!-- Page Section -->
<section id="news" class="">
    <div class="container">

        {% for post in site.posts %}
            {% if post.category == 'News' %}

                <div class="row">
                    <div class="col-lg-2 col-news-list">

                        <img
                            src="/img/press/{{ post.thumbnail }}"
                            class="img-responsive"
                            alt="">
                    </div>
                    <div class="col-lg-10 col-news-list">
                        <h4>{{ post.title }}</h4>

                    </div>
                </div>

            {% endif %}
        {% endfor %}
    </div>
</section>
