<!-- About Section -->
    <section id="about" class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                    <h3 class="section-subheading text-muted">
                        Thesis
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timline-image">
                                <h1>v</h1>
                            </div>
                            <div class="timeline-heading">
                                <h3>Values</h3>
                            </div>
                            <div class="timeline-body">
                                <h4>
                                    Loyalty / “Family”
                                </h4>
                                <h4>
                                    Disciplined Teamwork
                                </h4>
                                <h4>
                                    Inclusive, Non “Bro” Cultures
                                </h4>
                                <h4>
                                    Zero Mass / No Inertia Mentality
                                </h4>
                                <h4>
                                    Diversity of Thought, Background & Gender
                                </h4>
                                <h4>
                                    (Actions Not Words)
                                </h4>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h1>b</h1>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Background</h3>
                                </div>
                                <div class="timeline-body">
                                    <h4>
                                        Public schools in Richmond, Virginia.  Valedictorian.
                                    </h4>
                                    <h4>
                                        First technical job from lawnmowing business customer.
                                    </h4>
                                    <h4>
                                        Eagle Scout, Senior Patrol Leader, Troop 444, Richmond.
                                    </h4>
                                    <h4>
                                        Majority financial aid in college with required student job.
                                    </h4>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h1>n</h1>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Networks</h3>
                                </div>
                                <div class="timeline-body">
                                    <h4>
                                        Educational Core
                                    </h4>
                                    <p class="text-muted">
                                        MIT Ph.D. Chemical Engineering
                                    </p>
                                    <p class="text-muted">
                                        Princeton B.S.E. Chemical Engineering
                                    </p>
                                    <h4>
                                        Prioritize networks (e.g. 13 of 13 college reunions) with many deal sources flowing through MIT, Princeton, & YPO.
                                    </h4>
                                    <h4>
                                        Lead several entrepreneur retreats throughout the year.
                                        <p class="text-muted">
                                            Leadership during gender integration of all retreats to raise the intellectual discourse & further diversify perspectives.
                                        </p>
                                    <h4>
                                        Significant travel sacrifices for network while living in Colorado – I’m passionate about this stuff, and do it for fun in my free time.
                                    </h4>
                                    </h4>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h1>c</h1>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Contact</h3>
                                </div>
                                <div class="timeline-body">
                                    <h4>
                                        Email or connect below:
                                    </h4>

                                    <p class="text-muted">
                                        <a href="mailto:joel.moxley@gmail.com" title="Email Application">
                                            jfmoxley@gmail.com
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>
