<!-- Company Grid Section -->
    <section id="companies" class="image-grid">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Companies</h2>
                    <h3 class="section-subheading text-muted">
                        My Network of Companies.
                    </h3>
                </div>
            </div>
            <div class="row">
            {% for post in site.posts %}
                {% if post.category == 'Company' %}
                <div class="col-md-6 col-sm-12 companies-item">
                    <a href="/companies/{{ post.url-name }}" class="companies-link">
                        <img src="/img/companies/{{ post.thumbnail }}" class="img-responsive" alt="">
                    </a>
                </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </section>
