<!-- Resources Section -->
<section id="resources" class="">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Resources</h2>
                <h3 class="section-subheading text-muted">
                    Sub Heading if desired
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                CONTENT HERE
                <ul>
                    <li>Pitch</li>
                        <ul>
                            <li>http://paulgraham.com/investors.html</li>
                            <li>https://www.ycombinator.com/resources/</li>
                        </ul>
                    <li>Financing</li>
                    <li>Intellectual Property</li>
                </ul>
            </div>
        </div>
    </div>
</section>
