<!-- Thesis Section -->
    <section id="thesis" class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Thesis</h2>
                    <h3 class="section-subheading text-muted">
                        Thesis elements tested in my companies.
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <h1 class='italic-font'>i</h1>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Scale hard tech like soft tech</h3>
                                </div>
                                <div class="timeline-body">
                                    <h4>
                                        Equity to tech & product only
                                    </h4>
                                    <h4>
                                        Intermediate product revenue with unit economics before harder materials science
                                    </h4>
                                    <h4>
                                        Leverage integrators & contract manufacturers
                                    </h4>
                                    <h4>
                                        Leverage IP position for corporate partnerships
                                    </h4>
                                    <h4>
                                        Leverage data ubiquity to learn on a logarithmic basis (e.g. IoT / mesh)
                                    </h4>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h1 class='italic-font'>ii</h1>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Intersectional Innovation</h3>
                                </div>
                                <div class="timeline-body">
                                    <h4>
                                        Apply “Moore’s Law” to Adjacent Markets
                                    </h4>
                                    <h4>
                                        Combine Innovations In Existing Markets
                                    </h4>

                                    <!-- <p class="text-muted">
                                        "Founder" defined as original cap table. "Established company" defined as
                                        <a href="http://www.ypo.org/join-ypo/" target="_blank" title="YPO-qualifying">YPO-qualifying</a>.
                                    </p>-->
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h1 class='italic-font'>iii</h1>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Intersectional Teams With Agile Culture</h3>
                                </div>
                                <div class="timeline-body">
                                    <h4>
                                        Purity of Purpose
                                    </h4>
                                    <h4>
                                        No Past-Decision Latency
                                    </h4>
                                    <h4>
                                        Present Condition Does Not Determine Future State
                                    </h4>
                                    <h4>
                                        A Team Built For Sustained Divergent Thinking
                                    </h4>
                                    <h4>
                                        “Yes, If…” Never “No, Because…”
                                    </h4>
                                    <h4>
                                        Protection of Individual Contributors
                                    </h4>
                                    <h4>
                                        Individuals Recognized For Contribution Not Station
                                    </h4>

                                    <!--<p class="text-muted">
                                        Faculty &amp; current students meeting the portfolio or member criteria are welcome too.
                                    </p>-->
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h1 class='italic-font'>iv</h1>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Unfair Advantages & Ecosystem Building</h3>
                                </div>
                                <div class="timeline-body">
                                    <h4>
                                        New Intersections Without Ecosystem
                                    </h4>
                                    <h4>
                                        Leverage Ecosystem Building Experience
                                    </h4>
                                    <h4>
                                        Unfair Advantage To Capture That Value
                                    </h4>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h1 class='italic-font'>v</h1>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Competition & Monopolies</h3>
                                </div>
                                <div class="timeline-body">
                                    <h4>
                                        Create & Dominate Initially Small Ecosystem
                                    </h4>
                                    <h4>
                                        Build Expanding Monopolies
                                    </h4>
                                    <p class="text-muted">
                                        Proprietary Technology
                                    </p>
                                    <p class="text-muted">
                                        Network Effects
                                    </p>
                                    <p class="text-muted">
                                        Economies of Scale
                                    </p>
                                    <p class="text-muted">
                                        Branding
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
