<!-- Thesis Section -->
    <section id="thesis" class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Thesis</h2>
                    <h3 class="section-subheading text-muted">
                        Thesis elements tested in my companies
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <h1>I</h1>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Scale hard tech like soft tech</h3>
                                </div>
                                <div class="timeline-body">
                                    <h4>
                                        Equity to tech & product only
                                    </h4>
                                    <h4>
                                        Intermediate product revenue with unit economics before harder materials science
                                    </h4>
                                    <h4>
                                        Leverage integrators & contract manufacturers
                                    </h4>
                                    <h4>
                                        Leverage IP position for corporate partnerships
                                    </h4>
                                    <h4>
                                        Leverage data ubiquity to learn on a logarithmic basis (e.g. IoT / mesh)
                                    </h4>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h1>II</h1>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Intersectional Innovation</h3>
                                </div>
                                <div class="timeline-body">
                                    <h4>
                                        Founder and/or CEO of established company within previous five years or General Partner of top tier venture capital fund
                                    </h4>

                                    <p class="text-muted">
                                        "Founder" defined as original cap table. "Established company" defined as
                                        <a href="http://www.ypo.org/join-ypo/" target="_blank" title="YPO-qualifying">YPO-qualifying</a>.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h1 class='italic-font'>III</h1>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Unfair Advantages & Ecosystem Building</h3>
                                </div>
                                <div class="timeline-body">
                                    <h4>
                                        Not just alumni
                                    </h4>

                                    <p class="text-muted">
                                        Faculty &amp; current students meeting the portfolio or member criteria are welcome too.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h1>IV</h1>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Contact</h3>
                                </div>
                                <div class="timeline-body">
                                    <h4>
                                        Email or connect below:
                                    </h4>

                                    <p class="text-muted">
                                        <a href="mailto:joel.moxley@gmail.com" title="Email Application">
                                            jfmoxley@gmail.com
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>
